*{
    margin: 0px;
    padding: 0px;
}
body{ 
    background: url(/imagenes/noisy.png); 
    margin: 0 auto; 
    text-align: justify; 
    width: 800px;
    font-family: 'Open Sans';
}
.parte1{  
    background:  #FFF url(/imagenes/the_raven.png)no-repeat 34% 34%;
    width: 100%;
    height: 300px;  
    margin: 8px solid #FFF; 
    padding-top: 15px;   
    background-position: center;
    color: #FFF;
    text-align: right;
    text-shadow: #E6E6E6;
 }
main{   
    width: 78%;
    float: right; 
    background: #A4A4A4;  
    padding: 0px;
}
h2 {  
    height: 30px; 
    margin: 0;  
    padding-left: 15px; 
    padding-bottom: 5px; 
    border-block-end: 2px  #E6E6E6; 
    border-block-end-style: solid; 
} 
h1{
    padding-right:18px;  
}
h3, h4{ 
    height: 30px; 
    margin: 0;  
    padding-left: 15px; 
} 
.imagen_bio{
    width: 190px;
    padding: 15px;
    float: left;
}
.legado_ima{
    width: 190px;
    padding: 15px;
    float: right;
}
main p{
    padding: 5px 20px 0PX 20px; 
}
.contenido{
    overflow: hidden;
    background: #FF8000;
}
 
.menu{ 
    position: static;
    width: 175px;   
    float: left;  
    background: #FF8000;        
} 
.menu ul{  
    list-style: none;   
   
}
.menu li{ 
    margin: 0; 
    line-height: 30px; 
    border-bottom: 1px solid #FFF; 
}
.menu li a{    
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    color: black;
    display: block;
    font-weight: bold;
    font-size: 16px; 
    text-align: center;
}
.menu nav ul li a:hover{
    background: #FFCF75;
} 
.lista{
    padding-left: 40px;
    padding-right: 10px;
}
.lista h3{
    padding-left: 0px; 
}
.lista p{
    padding: 0px 20px 0PX 20px;
}
.titulo_c{
    margin: 0px auto;
    text-align:  center;   
    font-size: 30px;  
}
p.comienzo{
    text-align: right;
    white-space: pre;
    padding-bottom: 0px;
} 
 p.dialogo{ 
    white-space: pre-line;
    padding-top: 0px;
}
.inicio_t{
    text-align: center;
}
.columnas{
    overflow: hidden; 
    padding: 15px;
}
.columnas p{
    padding: 0px 10px 10px 15px;
}
.columna1{
    width: 48%;
    float: left;  
}
.columna2{
    width: 48%;
    float: right;  
}
.columnas li{
    list-style: none; 
    padding-left: 10px;
}
footer{
    border-top: 15px solid #FFF;
	padding: 10px 25px 10px 10px;
	text-align: right;
    margin: 0;
    color: #FFF;
	background-color: black;
}
@font-face{
    font-family: 'Open Sans';
    src: url(/fuentes/OpenSans-Regular.ttf)
} 
